#wholePage {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-image: url("/Images/background1.jpg");
  grid-template-columns: 1fr 0.05fr 1fr 1fr 1fr 0.05fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a . b b . . d d"
    "a . b b . . d d"
    "a . b b . . d d"
    "a . c c c . d d";
  margin: auto;
}

#ImageChooser {
  grid-area: a;
  margin: auto;
}

#Preview {
  grid-area: b;
  margin: auto;
}

#Input {
  grid-area: c;
  margin: auto;
}

#memeList {
  grid-area: d;
  margin: auto;
  border: dotted yellow;
}
