#wholePage {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-image: url("/Images/background1.jpg");
  grid-template-columns: 1fr 0.05fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a . b b b"
    "a . b b b"
    "a . b b b"
    /* "a . . . ." */
    "a . c c c";
}

#ImageChooser {
  grid-area: a;
}

#Preview {
  grid-area: b;
}

#Input {
  grid-area: c;
}
