#memeList {
  grid-area: d;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-y: scroll;
  max-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 0.7em;
}

#memeList img {
  width: 40vh;
  /* max-height: 30vh; */
  background-size: cover;
}

#memeList img:hover {
  filter: brightness(80%);
}

#memeList ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-bottom: 0.5em;
}

#listItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-height: ; */
}

#listTopText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listBottomText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .selected {
  border: 2px solid blue;
} */
