#memeList {
  grid-area: d;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 100vh;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 0.7em;
}

#memeList img {
  max-width: 15vw;
  max-height: 30vh;
}

#memeList img:hover {
  filter: brightness(80%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .selected {
  border: 2px solid blue;
} */
