#ImageChooser {
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 100vh;
  /* background-color: rgba(128, 128, 128, 0.51); */
  font-family: "Oswald", sans-serif;
  font-size: 0.7em;
  margin-top: 2em;
}

#ImageChooser img {
  /* max-width: 15vw; */
  max-height: 30vh;
}

#ImageChooser img:hover {
  /* box-sizing: border-box; */
  border: 2px solid red;
  /* filter: brightness(80%); */
  /* box-shadow: 0px, -1px, 51px, 1px rgba(0, 0, 0, 0.51); */
}

#ImageChooser ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.selected {
  border: 2px solid blue;
}
